/* homepage specific styles */
body {
    background-image: url(/images/bg-pattern-homepg1.png);
}
header > h1 {
    margin-top: 10%;
}
.arrow {
    display: inline-block;
    border: solid #1F3D7A;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(-45deg); 
    margin-left: 10px;
}
#pullquote1 {
    margin-top: 10%;

}

